<footer class="bg-light d-flex flex-wrap justify-content-between align-items-center py-3 border-top light fixed-bottom">
  <div class="container">
    <p class="text-secondary">© 2022 Company, Inc</p>
  </div>
</footer>
