<nav class="navbar sticky-top navbar-light bg-light py-3">
  <div class="container-fluid p-0">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <%= link_to '', 'https://getbootstrap.com/docs/5.1/utilities/text/', class: "fa fa-home link-secondary text-decoration-none ps-3" %>
      </li>
    </ul>
<!--    <form class="d-flex me-5">-->
<!--      <input class="form-control ms-2 me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--      <button class="btn btn-outline-secondary" type="submit">Search</button>-->
<!--    </form>-->
  </div>
</nav>