<div class="d-flex flex-column flex-shrink-0 bg-transparent border-end light" style="height: 2000px">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item mt-4">
      <%= link_to ' Category', 'https://getbootstrap.com/docs/5.1/utilities/text/', class: "fa fa-atom link-secondary text-decoration-none" %>
    </li>
  </ul>
</div>