<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
  <%= render partial: 'product', comment: @comment %>
  <div class="product-comments mt-4 mb-4 text-muted">
    <%= render partial: 'comments/comment' %>
  </div>
</div>
